<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete event</title>
</head>
<body>
   <form action="/delev" method="post">
   <label for="eventId">eventId</label><br>
   <input type="text" id="eventId" name="eventId" required><br>
   <button type="submit">Delete event</button>
</form>
</body>
</html>