<!DOCTYPE html>
<html>

<head>
  <title>Uploaded Image</title>
</head>

<body>
 <form action="/generateurl" method="post">
  <input type="text" name="image_id" placeholder="image_id" ><br> <br>

  <button type="submit"> generateurl</button>

 
 </form>
</body>

</html>