<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload image to google drive</title>
</head>
<body>
    <h1>Upload Image to google drive</h1>

    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="image" multiple>
        <button type="submit">Upload</button>
</form>
</body>
</html>